services:
  go:
    image: golang:1.25.3-bookworm
    profiles: [dummy]
    network_mode: bridge
    volumes:
      - .:/workspace
    working_dir: /workspace
    environment:
      - GOOS
      - GOARCH
      - CGO_ENABLED
    entrypoint: ["go"]
  terraform-registry-builder:
    image: ghcr.io/ikedam/terraform-registry-builder:0.2.1
    profiles: [dummy]
    network_mode: bridge
    volumes:
      - .:/workspace
    working_dir: /workspace
    environment:
      - TFREGBUILDER_GPG_KEY
  localtest:
    build:
      context: .
      dockerfile: Dockerfile
      args:
      - TERRAFORM_VERSION=1.10.5
    profiles: [dummy]
    network_mode: bridge
    environment:
      - CLOUDSDK_CORE_PROJECT
      - DOCKER_BUILDKIT=0
      - TF_LOG
      - TF_CLI_ARGS
    volumes:
      - ./localtest:/workspace
      - ${CLOUDSDK_CONFIG:-${APPDATA:-${HOME:-}/.config}/gcloud}:/root/.config/gcloud
      # docker out of docker
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /workspace
